body {
	font-family: Helvetica;
}

.left {
	float: left;
	background-color: Navy;
	height: 700px;
	width: 25%;
}

.right1 {
	float: right;
	background-color: RoyalBlue;
	height: 100px;
	width: 75%;
	text-align: center;
}

.right2 {
	float: right;
	background-color: SteelBlue;
	height: 300px;
	width: 75%;
}

.right3 {
	float: right;
	background-color: RoyalBlue;
	height: 300px;
	width: 75%;
	text-align: center;
}

.footer {
	background-color: SteelBlue;
	text-align: center;
	padding: 20px;
}

h1 {
	letter-spacing: 5px;
}

form {
	margin: 30px;
	line-height: 3px;
}

form:hover {
	background-color: DeepSkyBlue;
}